<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Rejistu Empreza</h5>
          <form class="form-signin" (ngSubmit)="signUp()" #signUpForm="ngForm">
            <!-- Naran -->
            <div class="form-label-group">
              <input
                type="text"
                id="naran"
                class="form-control"
                placeholder="Naran"
                required
                autofocus
                [(ngModel)]="naran"
                name="naran"
              />
              <label for="naran"></label>
            </div>

            <!-- Naran Emprezariu -->
            <div class="form-label-group">
              <input
                type="text"
                id="naranEmprezariu"
                class="form-control"
                placeholder="Naran Empreza"
                required
                autofocus
                [(ngModel)]="naranEmprezariu"
                name="naranEmprezariu"
              />
              <label for="naranEmprezariu"></label>
            </div>

            <!-- Munisipiu -->
            <div class="form-label-group">
              <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email Empreza" required autofocus [(ngModel)]="email" name="email"> -->
              <select
                class="form-control"
                id="location"
                [(ngModel)]="munisipiuRejistu"
                name="munisipiuRejistu"
                required
              >
                <option value="">Hili Munisipiu</option>
                <option
                  *ngFor="let location of locations"
                  [value]="location.id"
                >
                  {{ location.naran }}
                </option>
              </select>
              <label for="munisipiuRejistu"></label>
            </div>

            <div class="form-label-group">
              <input
                type="tel"
                id="telemovel"
                class="form-control"
                placeholder="Telemovel"
                required
                [(ngModel)]="telemovel"
                name="telemovel"
              />
              <label for="telemovel"></label>
            </div>

            <div class="form-label-group">
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Email"
                required
                [(ngModel)]="email"
                name="email"
              />
              <label for="email"></label>
            </div>

            <div class="upload-box">
              <input
                type="file"
                class="form-control-file"
                id="fotoUpload"
                accept="image/jpeg, image/jpg"
                (change)="onFileSelected($event)"
              />
              <span class="fa fa-plus-circlefa-plus-circle add"></span>
            </div>

            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
                [(ngModel)]="password"
                name="password"
              />
              <label for="inputPassword"></label>
            </div>

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
              [disabled]="!signUpForm.valid"
            >
              Sign Up
            </button>
            <hr class="my-4" />
            <p class="text-center mt-3">
              Rejistu ona? <a [routerLink]="['/login']">Login Agora</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
